body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="url"] {
  height: 30px;
  width: 200px;
}
input[type="checkbox"] {
  margin: 20px 0;
}
